AmanatInspection/AmanatInspection.xcodeproj/project.xcworkspace/xcuserdata/tempuser.xcuserdatad/UserInterfaceState.xcuserstate
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/tempuser.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
