AmanatInspection/AmanatInspection.xcodeproj/project.xcworkspace/xcuserdata/tempuser.xcuserdatad/UserInterfaceState.xcuserstate
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/tempuser.xcuserdatad/xcschemes/xcschememanagement.plist
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/AmanatInspection/AmanatInspection.xcodeproj/xcuserdata
/AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad
/AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad/xcdebugger
AmanatInspection/AmanatInspection.xcodeproj/xcuserdata/karimmousa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
